@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/5aU19_a8oxmIfMJaERySiA.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/5aU69_a8oxmIdGl4AQ.ttf) format('truetype');
}
